.f-head {
  font-size: 25px;
  font-weight: 500;
}
.f-desC {
  font-size: 20px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: initial;
}

.f-links {
  padding: 2px 0;
  margin: 2px 0;
}

.f-add {
  display: flex;
  align-items: center;
}
.f-add p {
  padding: 0 6px;
}
.f-contact {
  display: flex;
  align-items: center;
}

.f-contact p {
  padding: 0 6px;
}
