.c-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.c-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.c-info{
    position: absolute;

}
.c-title{
    font-size: 26px;
    font-weight: 500;
}